<mat-toolbar class="header-box">
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <h3 class="title">December Project</h3>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/companies'">Companies</button>
        <button mat-menu-item [routerLink]="'/projects'">Projects</button>
        <button mat-menu-item [routerLink]="'/users'">Users</button>
        <button mat-menu-item [routerLink]="'/features'">Features</button>
    </mat-menu>
</mat-toolbar>

