<div class="form-box">
    <h3>Add New User</h3>
    <div class="form" [formGroup]="formControlGroup">
        <mat-form-field class="form-width" appearance="legacy">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="" formControlName="firstName">
            <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
    </div>
  
    <div class="form" [formGroup]="formControlGroup">
        <mat-form-field class="form-width" appearance="legacy">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="" formControlName="lastName">
            <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
    </div>

    <div class="form" [formGroup]="formControlGroup">
        <mat-form-field class="form-width" appearance="legacy">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
    </div>
    <div class = "button-create">
        <button mat-raised-button color="primary" (click) = "createUser()">Add User</button>
        <button mat-raised-button color="accent" (click) = "goBack()">Back</button>
</div>
</div>
