h1 {
  text-align: center;
  background: -webkit-linear-gradient(yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.form {
  background: white;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
}

.form-box {
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  background: #505050;
  border-radius: 20px;
  padding: 20px;
  width: 500px;
}

mat-form-field {
  width: 100%;
}

.button-update-feature {
  text-align: center;
}

button {
  background-image: linear-gradient(to right, yellow, orange);
  width: 120px;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-image: linear-gradient(to right, orange, green) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: orange !important;
}
.buttons {
  display: flex;
  column-gap: 30px;
}
